@import "tailwindcss";

.container {
  max-width: 1320px;
  margin: 0 auto;
}

@theme {
  --color-primary: #074506;
  --color-secondary: #9b6607;
}

body {
  font-family: var(--font-manrope), sans-serif;
}